<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="col-md-12">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple">
        </ngx-spinner>
        <div class="card" *ngIf="print">

          <div class="card-header">
            <button class="btn btn-light float-right" (click)="hidePrint()"><i class="fa fa-close"></i> Fermer
            </button>
          </div>
          <div class="card-body" style="width: 100%; height: 500px">

            <ng2-pdfjs-viewer #externalPdfViewer [showSpinner]="true"></ng2-pdfjs-viewer>
          </div>
        </div>
      </div>
      <!-- Nav tabs -->
      <tabset #staticTabs *ngIf="!print">
        <tab (selectTab)="onSelect($event)" id="liste-colis">
          <ng-template tabHeading><i class="icon-bag"></i> Colis</ng-template>
          <div class="card">
            <div class="card-header">
              <button class="btn btn-light float-right" (click)="reload()"><i class="fa fa-refresh"></i> Actualiser
              </button>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Référence</span>
                    </div>
                    <input (keyup)="searchReference()" class="form-control" type="text"
                           [(ngModel)]="reference">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Client</span>
                    </div>
                    <input (keyup)="searchNomClient()" class="form-control" type="text"
                           [(ngModel)]="nomClient">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Destinataire</span>
                    </div>
                    <input (keyup)="searchNomDestinataire()" class="form-control" type="text"
                           [(ngModel)]="nomDestinataire">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text text-color-blue">Statut</span>
                    </div>
                    <ng-select [clearable]="false" class="form-control" [(ngModel)]="enable" (change)="searchStatut()">
                      <ng-option [value]="2">Tout</ng-option>
                      <ng-option [value]="1">Actif</ng-option>
                      <ng-option [value]="1">Actif</ng-option>
                      <ng-option [value]="0">Inactif</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div *ngIf="allColis?.colis">
                <table class="table table-condensed table-bordered data-table" [mfData]="allColis?.colis"
                       #mf="mfDataTable" [mfRowsOnPage]="size">
                  <thead>
                  <tr>
                    <th style="width: 15%" class="text-center">
                      <mfDefaultSorter by="reference" [mfShowSortableArrows]="true">Référence</mfDefaultSorter>
                    </th>
                    <th style="width: 20%" class="text-center">
                      <mfDefaultSorter by="client" [mfShowSortableArrows]="false">Client
                      </mfDefaultSorter>
                    </th>
                    <th style="width: 20%" class="text-center">
                      <mfDefaultSorter by="destinataire" [mfShowSortableArrows]="false">Destinataire
                      </mfDefaultSorter>
                    </th>
                    <th style="width: 20%" class="text-center">
                      <mfDefaultSorter by="valeurColis" [mfShowSortableArrows]="true">Valeur</mfDefaultSorter>
                    </th>
                    <th style="width: 25%" class="text-center">
                      <mfDefaultSorter>Actions</mfDefaultSorter>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let colis of mf.data; let i = index">
                    <td class="font-weight-bold">{{colis.reference}}</td>
                    <td>{{colis.client.raisonSociale}}</td>
                    <td>{{colis.nomDestinataire}}</td>
                    <td class="text-right font-weight-bold">{{colis.valeurColis}} {{user?.personne?.site?.devise?.nomDevise}}</td>
                    <td class="text-center">
                      <div class="btn-group" dropdown [dropup]="false">
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
                                aria-controls="dropdown-basic">
                          Sélectionner <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                          <li role="menuitem"><a class="dropdown-item text-warning font-weight-bold"
                                                 (click)="editForm(colis)">
                            <i class="fa fa-edit text-warning font-weight-bold"></i> Modifier</a>
                          </li>
                          <li role="menuitem"><a class="dropdown-item text-default font-weight-bold"
                                                 (click)="showForm(colis)"><i
                                  class="fa fa-eye text-default font-weight-bold"></i> Afficher</a></li>
                          <li role="menuitem"><a class="dropdown-item text-dark font-weight-bold"
                                                 (click)="downloadQrCode(colis)"><i
                                  class="fa fa-qrcode text-dark font-weight-bold"></i> QrCode</a></li>
                          <li role="menuitem"><a class="dropdown-item text-danger font-weight-bold"
                                                 *ngIf="colis.enable === 1"
                                                 (click)="openRemoveModal(colis, 'd', i)"><i
                                  class="fa fa-lock text-danger font-weight-bold"></i>
                            Désactiver</a></li>
                          <li role="menuitem"><a class="dropdown-item text-success font-weight-bold"
                                                 *ngIf="colis.enable === 0"
                                                 (click)="openRemoveModal(colis, 'e', i)"><i
                                  class="fa fa-unlock-alt text-success font-weight-bold"></i> Activer</a></li>

                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item text-danger font-weight-bold"
                                                 (click)="openRemoveModal(colis, 'r', i)"><i
                                  class="fa fa-remove text-danger font-weight-bold"></i> Supprimer</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="allColis?.colis.length === 0">
                    <td colspan="5" class="text-center">Aucun resultat trouvé</td>
                  </tr>
                  </tbody>
                </table>
                <app-pagination
                  [pages]="pages"
                  [nombreElements]="allColis?.nombreColis"
                  [totalElements]="allColis?.totalColis"
                  [totalPages]="allColis?.totalPages"
                  [currentPage]="currentPage"
                  [size]="size"
                  [page]="page"
                  (search)="searchPage($event)"
                  (limit)="searchLimit($event)"
                  (first)="firstPage($event)"
                  (next)="nextPage($event)"
                  (previous)="previousPage($event)"
                  (last)="lastPage($event)"
                ></app-pagination>
              </div>

            </div>
          </div>
        </tab>
        <tab (selectTab)="onSelect($event)" id="creer-colis">
          <ng-template tabHeading>
            <span *ngIf="type === 'i'" class="new">
              <i class="fa fa-plus"></i> Nouveau colis
            </span>
            <span *ngIf="type === 'u'" class="update">
              <i class="fa fa-edit"></i> Modifier colis
            </span>
            <span *ngIf="type === 's'" class="show">
              <i class="fa fa-eye"></i> Afficher colis
            </span>
          </ng-template>
          <form [formGroup]="colisForm" novalidate>
            <div class="card">
              <div class="card-header" *ngIf="type === 'u' || type === 's'">
                <ul class="timeline" id="timeline">
                  <li class="li" [ngClass]="{'complete': colis?.enregistrementColis !== null}">
                    <div class="timestamp">
                      <span class="author">{{colis?.enregistrementColis?.utilisateur?.personne?.raisonSociale}}</span>
                      <span class="date">{{colis?.enregistrementColis?.dateEnregistrement | date: 'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="status" (click)="type === 'u' ? suiviColis('enregistrement',colis) : null">
                      <h4>Enregistrement</h4>
                    </div>
                  </li>
                  <li class="li" [ngClass]="{'complete': colis?.expeditionColis !== null}">
                    <div class="timestamp">
                      <span class="author">{{colis?.expeditionColis?.utilisateur?.personne?.raisonSociale}}</span>
                      <span class="date">{{colis?.expeditionColis?.dateExpedition | date: 'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="status" (click)="type === 'u' ? suiviColis('expedition',colis) : null">
                      <h4>Expédition</h4>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="row">
                  <input id="id" type="hidden" formControlName="id">
                  <div class="form-group row col-md-6">
                    <label for="client" class="control-label col-md-4 text-right">Client</label>
                    <div class="col-md-8">
                      <ng-select [ngClass]="{'is-invalid': ((!!colisForm?.controls['client']?.errors?.required) && (colisForm.controls['client'].errors && (colisForm.controls['client'].dirty || colisForm.controls['client'].touched))),
                   'is-valid': ((!colisForm?.controls['client']?.errors?.required) && (!colisForm.controls['client'].errors && (colisForm.controls['client'].dirty || colisForm.controls['client'].touched)))}"
                                 id="client" class="form-control"
                                 [items]="allClients"
                                 (search)="getClientsByRaisonSociale($event)"
                                 bindLabel="raisonSociale"
                                 formControlName="client"
                                 placeholder="Aucun client sélectionnée"
                      >
                      </ng-select>
                      <div
                        *ngIf="colisForm.controls['client'].errors && (colisForm.controls['client'].dirty || colisForm.controls['client'].touched)"
                        class="invalid-perso">
                        <span
                          [hidden]="!colisForm.controls['client'].errors?.required">Veuillez sélectionner un <strong>client</strong>.</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row col-md-6">
                    <label for="site" class="control-label col-md-4 text-right">Site</label>
                    <div class="col-md-8">
                      <ng-select [ngClass]="{'is-invalid': (!!colisForm?.controls['siteDestinataire']?.errors?.required) && (colisForm.controls['siteDestinataire'].errors && (colisForm.controls['siteDestinataire'].dirty || colisForm.controls['siteDestinataire'].touched)),
                   'is-valid': (!colisForm?.controls['siteDestinataire']?.errors?.required) && (!colisForm.controls['siteDestinataire'].errors && (colisForm.controls['siteDestinataire'].dirty || colisForm.controls['siteDestinataire'].touched))}"
                                 id="site" class="form-control" *ngIf="allSites?.length > 0"
                                 [items]="allSites"
                                 bindLabel="nomSite"
                                 formControlName="siteDestinataire"
                                 placeholder="Aucun site sélectionné">
                      </ng-select>
                      <div
                        *ngIf="colisForm.controls['siteDestinataire'].errors && (colisForm.controls['siteDestinataire'].dirty || colisForm.controls['siteDestinataire'].touched)"
                        class="invalid-perso">
            <span
              [hidden]="!colisForm.controls['siteDestinataire'].errors?.required">Le <strong>site</strong> est obligatoire.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">COLIS</div>
              <div class="card-body">
                <div class="row">
                  <div class="form-group row col-md-6" *ngIf="type === 'u' || type === 's'">
                    <label for="reference" class="control-label col-md-4 text-right">Référence</label>
                    <div class="col-md-8">
                      <input id="reference" type="text" class="form-control" formControlName="reference">
                    </div>
                  </div>
                  <div class="form-group row col-md-6">
                    <label for="valeur" class="control-label col-md-4 text-right">Valeur</label>
                    <div class="col-md-8">
                      <div class="input-group mb-4">
                        <input [ngClass]="{'is-invalid': ((!!colisForm?.controls['valeurColis']?.errors?.required) && (colisForm.controls['valeurColis'].errors && (colisForm.controls['valeurColis'].dirty || colisForm.controls['valeurColis'].touched))),
                   'is-valid': ((!colisForm?.controls['valeurColis']?.errors?.required) && (!colisForm.controls['valeurColis'].errors && (colisForm.controls['valeurColis'].dirty || colisForm.controls['valeurColis'].touched)))}"
                               id="valeur" type="number" class="form-control" formControlName="valeurColis">
                        <div class="input-group-prepend">
                          <span class="input-group-text">{{user?.personne?.site?.devise?.nomDevise}}</span>
                        </div>
                      </div>

                      <div
                        *ngIf="colisForm.controls['valeurColis'].errors && (colisForm.controls['valeurColis'].dirty || colisForm.controls['valeurColis'].touched)"
                        class="invalid-perso">
            <span
              [hidden]="!colisForm.controls['valeurColis'].errors?.required">La <strong>valeur</strong> est obligatoire.</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row col-md-6">
                    <label for="description" class="control-label col-md-4 text-right">Description</label>
                    <div class="col-md-8">
                      <textarea [ngClass]="{'is-invalid': ((!!colisForm?.controls['description']?.errors?.required) && (colisForm.controls['description'].errors && (colisForm.controls['description'].dirty || colisForm.controls['description'].touched))),
                   'is-valid': ((!colisForm?.controls['description']?.errors?.required) && (!colisForm.controls['description'].errors && (colisForm.controls['description'].dirty || colisForm.controls['description'].touched)))}"
                                id="description" rows="3" cols="30" class="form-control"
                                formControlName="description"></textarea>
                      <div
                        *ngIf="colisForm.controls['description'].errors && (colisForm.controls['description'].dirty || colisForm.controls['description'].touched)"
                        class="invalid-perso">
            <span
              [hidden]="!colisForm.controls['description'].errors?.required">La <strong>description</strong> est obligatoire.</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row col-md-6" *ngIf="type === 'u' || type === 's'">
                    <div class="col-md-12 qrCode text-right">
                      <ngx-qrcode
                              qrc-element-type="canvas"
                              [qrc-value]="colis?.qrCode"
                              qrc-class="qrCode"
                              qrc-version = "8"
                              qrc-errorCorrectionLevel="L">
                      </ngx-qrcode>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">DESTINATAIRE</div>
              <div class="card-body">
                <div class="row">
                  <div class="form-group row col-md-6">
                    <label for="nomDestinataire" class="control-label col-md-4 text-right">Raison sociale</label>
                    <div class="col-md-8">
                      <input [ngClass]="{'is-invalid': ((!!colisForm?.controls['nomDestinataire']?.errors?.required) && (colisForm.controls['nomDestinataire'].errors && (colisForm.controls['nomDestinataire'].dirty || colisForm.controls['nomDestinataire'].touched))),
                   'is-valid': ((!colisForm?.controls['nomDestinataire']?.errors?.required) && (!colisForm.controls['nomDestinataire'].errors && (colisForm.controls['nomDestinataire'].dirty || colisForm.controls['nomDestinataire'].touched)))}"
                             id="nomDestinataire" type="text" class="form-control" formControlName="nomDestinataire">
                      <div
                        *ngIf="colisForm.controls['nomDestinataire'].errors && (colisForm.controls['nomDestinataire'].dirty || colisForm.controls['nomDestinataire'].touched)"
                        class="invalid-perso">
            <span
              [hidden]="!colisForm.controls['nomDestinataire'].errors?.required">Le <strong>destinataire</strong> est obligatoire.</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row col-md-6">
                    <label for="contactDestinataire" class="control-label col-md-4 text-right">Contact</label>
                    <div class="col-md-8">
                      <input [ngClass]="{'is-invalid': (!!colisForm?.controls['contactDestinataire']?.errors?.minlength || !!colisForm?.controls['contactDestinataire']?.errors?.required || !!colisForm?.controls['contactDestinataire']?.errors?.pattern) && (colisForm.controls['contactDestinataire'].errors && (colisForm.controls['contactDestinataire'].dirty || colisForm.controls['contactDestinataire'].touched)),
               'is-valid': (!colisForm?.controls['contactDestinataire']?.errors?.minlength || !colisForm?.controls['contactDestinataire']?.errors?.required || !colisForm?.controls['contactDestinataire']?.errors?.pattern) && (!colisForm.controls['contactDestinataire'].errors && (colisForm.controls['contactDestinataire'].dirty || colisForm.controls['contactDestinataire'].touched))}"
                             id="contactDestinataire" type="text" class="form-control"
                             formControlName="contactDestinataire">
                      <div
                        *ngIf="colisForm.controls['contactDestinataire'].errors && (colisForm.controls['contactDestinataire'].dirty || colisForm.controls['contactDestinataire'].touched)"
                        class="invalid-feedback">
                        <span
                          [hidden]="!colisForm.controls['contactDestinataire'].errors?.required">Le <strong>contact</strong> est obligatoire.</span>
                        <span
                          [hidden]="!colisForm.controls['contactDestinataire'].errors?.minlength">Le <strong>contact</strong> doit être de 8 chiffres au minimum.</span>
                        <span
                          [hidden]="!colisForm.controls['contactDestinataire'].errors?.pattern">Le <strong>contact</strong> est invalide.</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row col-md-6">
                    <label for="adresseDestinataire" class="control-label col-md-4 text-right">Adresse</label>
                    <div class="col-md-8">
                      <textarea [ngClass]="{'is-invalid': (!!colisForm?.controls['adresseDestinataire']?.errors?.required) && (colisForm.controls['adresseDestinataire'].errors && (colisForm.controls['adresseDestinataire'].dirty || colisForm.controls['adresseDestinataire'].touched)),
                  'is-valid': (!colisForm?.controls['adresseDestinataire']?.errors?.required) && (!colisForm.controls['adresseDestinataire'].errors && (colisForm.controls['adresseDestinataire'].dirty || colisForm.controls['adresseDestinataire'].touched))}"
                                id="adresseDestinataire" rows="3" cols="30" class="form-control"
                                formControlName="adresseDestinataire"></textarea>
                      <div
                        *ngIf="colisForm.controls['adresseDestinataire'].errors && (colisForm.controls['adresseDestinataire'].dirty || colisForm.controls['adresseDestinataire'].touched)"
                        class="invalid-feedback">
          <span
            [hidden]="!colisForm.controls['adresseDestinataire'].errors?.required">L'<strong>adresse</strong> est obligatoire.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <span>DETAILS COLIS</span>
                <button *ngIf="type === 'u' || type === 'i'" class="btn btn-primary float-right"
                        (click)="addDetailsColis()"><i class="fa fa-plus"></i>
                  Ajouter
                </button>
              </div>
              <div class="card-body">
                <table class="table table-condensed table-bordered data-table">
                  <thead>
                  <tr>
                    <th style="width: 20%" class="text-center">
                      Designation
                    </th>
                    <th style="width: 15%" class="text-center">
                      Quantité
                    </th>
                    <th style="width: 15%" class="text-center">
                      Poids (Kg)
                    </th>
                    <th style="width: 20%" class="text-center">
                      Prix Unitaire
                    </th>
                    <th style="width: 20%" class="text-center">
                      Description
                    </th>
                    <th style="width: 10%" class="text-center" *ngIf="type !== 's'">
                      Action
                    </th>
                  </tr>
                  </thead>
                  <tbody formArrayName="detailsColis">
                  <tr *ngFor="let dc of detailsColis?.controls; let i = index;" [formGroupName]="i">
                    <td>
                      <input [ngClass]="{'is-invalid': (!!detailsColis?.controls[i].controls['designation']?.errors?.required) && (detailsColis?.controls[i].controls['designation'].errors && (detailsColis?.controls[i].controls['designation'].dirty || detailsColis?.controls[i].controls['designation'].touched)),
                  'is-valid': (!detailsColis?.controls[i].controls['designation']?.errors?.required) && (!detailsColis?.controls[i].controls['designation'].errors && (detailsColis?.controls[i].controls['designation'].dirty || detailsColis?.controls[i].controls['designation'].touched))}"
                             formControlName="designation" type="text" class="form-control">
                      <div
                        *ngIf="detailsColis?.controls[i].controls['designation'].errors && (detailsColis?.controls[i].controls['designation'].dirty || detailsColis?.controls[i].controls['designation'].touched)"
                        class="invalid-feedback">
          <span
            [hidden]="!detailsColis?.controls[i].controls['designation'].errors?.required">La<strong> designation</strong> est obligatoire.</span>
                      </div>
                    </td>
                    <td>
                      <input [ngClass]="{'is-invalid': (!!detailsColis?.controls[i].controls['quantite']?.errors?.required) && (detailsColis?.controls[i].controls['quantite'].errors && (detailsColis?.controls[i].controls['quantite'].dirty || detailsColis?.controls[i].controls['quantite'].touched)),
                  'is-valid': (!detailsColis?.controls[i].controls['quantite']?.errors?.required) && (!detailsColis?.controls[i].controls['quantite'].errors && (detailsColis?.controls[i].controls['quantite'].dirty || detailsColis?.controls[i].controls['quantite'].touched))}"
                             formControlName="quantite" type="number" class="form-control">
                      <div
                        *ngIf="detailsColis?.controls[i].controls['quantite'].errors && (detailsColis?.controls[i].controls['quantite'].dirty || detailsColis?.controls[i].controls['quantite'].touched)"
                        class="invalid-feedback">
          <span
            [hidden]="!detailsColis?.controls[i].controls['quantite'].errors?.required">La<strong> quantite</strong> est obligatoire.</span>
                      </div>
                    </td>
                    <td>
                      <input [ngClass]="{'is-invalid': (!!detailsColis?.controls[i].controls['poids']?.errors?.required) && (detailsColis?.controls[i].controls['poids'].errors && (detailsColis?.controls[i].controls['poids'].dirty || detailsColis?.controls[i].controls['poids'].touched)),
                  'is-valid': (!detailsColis?.controls[i].controls['poids']?.errors?.required) && (!detailsColis?.controls[i].controls['poids'].errors && (detailsColis?.controls[i].controls['poids'].dirty || detailsColis?.controls[i].controls['poids'].touched))}"
                             formControlName="poids" type="number" class="form-control">
                      <div
                        *ngIf="detailsColis?.controls[i].controls['poids'].errors && (detailsColis?.controls[i].controls['poids'].dirty || detailsColis?.controls[i].controls['poids'].touched)"
                        class="invalid-feedback">
          <span
            [hidden]="!detailsColis?.controls[i].controls['poids'].errors?.required">Le<strong> poids</strong> est obligatoire.</span>
                      </div>
                    </td>
                    <td>
                      <div class="input-group mb-4">
                        <input [ngClass]="{'is-invalid': (!!detailsColis?.controls[i].controls['prixUnitaire']?.errors?.required) && (detailsColis?.controls[i].controls['prixUnitaire'].errors && (detailsColis?.controls[i].controls['prixUnitaire'].dirty || detailsColis?.controls[i].controls['prixUnitaire'].touched)),
                  'is-valid': (!detailsColis?.controls[i].controls['prixUnitaire']?.errors?.required) && (!detailsColis?.controls[i].controls['prixUnitaire'].errors && (detailsColis?.controls[i].controls['prixUnitaire'].dirty || detailsColis?.controls[i].controls['prixUnitaire'].touched))}"
                               formControlName="prixUnitaire" type="number" class="form-control">
                        <div class="input-group-prepend">
                          <span class="input-group-text">{{user?.personne?.site?.devise?.nomDevise}}</span>
                        </div>
                      </div>

                      <div
                              *ngIf="detailsColis?.controls[i].controls['prixUnitaire'].errors && (detailsColis?.controls[i].controls['prixUnitaire'].dirty || detailsColis?.controls[i].controls['prixUnitaire'].touched)"
                              class="invalid-feedback">
          <span
                  [hidden]="!detailsColis?.controls[i].controls['prixUnitaire'].errors?.required">Le<strong> prix unitaire</strong> est obligatoire.</span>
                      </div>
                    </td>
                    <td>
                        <textarea [ngClass]="{'is-invalid': (!!detailsColis?.controls[i].controls['description']?.errors?.required) && (detailsColis?.controls[i].controls['description'].errors && (detailsColis?.controls[i].controls['description'].dirty || detailsColis?.controls[i].controls['description'].touched)),
                  'is-valid': (!detailsColis?.controls[i].controls['description']?.errors?.required) && (!detailsColis?.controls[i].controls['description'].errors && (detailsColis?.controls[i].controls['description'].dirty || detailsColis?.controls[i].controls['description'].touched))}"
                                  formControlName="description" id="" cols="30" rows="2"
                                  class="form-control"></textarea>
                      <div
                        *ngIf="detailsColis?.controls[i].controls['description'].errors && (detailsColis?.controls[i].controls['description'].dirty || detailsColis?.controls[i].controls['description'].touched)"
                        class="invalid-feedback">
          <span
            [hidden]="!detailsColis?.controls[i].controls['description'].errors?.required">La<strong> description</strong> est obligatoire.</span>
                      </div>
                    </td>
                    <td *ngIf="type !== 's'">
                      <button class="btn btn-danger" placement="top" tooltip="Supprimer" (click)="deleteDetail(i)">
                        <i class="fa fa-remove"></i>
                      </button>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <button class="btn btn-light float-left" type="reset" *ngIf="type === 'i'" (click)="clearColisForm()">
                  <i class="fa fa-refresh"></i> Effacer
                </button>
                <button *ngIf="type === 'i'" [ladda]="isLoading" type="button" class="btn btn-primary float-right"
                        [disabled]='colisForm.status==="INVALID"' (click)="saveColis()">
                  Enregistrer
                </button>
                <button *ngIf="type === 'u'" [ladda]="isLoading" type="button" class="btn btn-warning float-right"
                        [disabled]='colisForm.status==="INVALID"' (click)="updateColis()">
                  Modifier
                </button>
              </div>
            </div>
          </form>
        </tab>
      </tabset>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
