<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-primary" placement="top" tooltip="Tva" (click)="openModal(null, 'i')"><i
            class="fa fa-plus"></i> Ajouter
          </button>
          <button class="btn btn-light float-right" (click)="reload()"><i class="fa fa-refresh"></i> Actualiser
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 offset-md-2">
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">Valeur</span>
                </div>
                <input (keyup)="searchValeurTva()" class="form-control" type="text"
                       [(ngModel)]="valeurTva">
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">Statut</span>
                </div>
                <ng-select [clearable]="false" class="form-control" [(ngModel)]="enable" (change)="searchStatut()">
                  <ng-option [value]="2">Tout</ng-option>
                  <ng-option [value]="1">Actif</ng-option>
                  <ng-option [value]="0">Inactif</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div *ngIf="allTvas?.tvas">
            <table class="table table-condensed table-bordered data-table" [mfData]="allTvas?.tvas"
                   #mf="mfDataTable" [mfRowsOnPage]="size">
              <thead>
              <tr>
                <th style="width: 20%" class="text-center">
                  <mfDefaultSorter by="nomTva" [mfShowSortableArrows]="true">Valeur</mfDefaultSorter>
                </th>
                <th style="width: 40%" class="text-center">
                  <mfDefaultSorter>Actions</mfDefaultSorter>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tva of mf.data; let i = index">
                <td class="text-right">{{tva.valeurTva}}</td>
                <td class="text-center">
                  <button class="btn btn-warning" placement="top" tooltip="Modifier" (click)="openModal(tva, 'u')"><i
                    class="fa fa-edit"></i></button>
                  <button class="btn btn-light" placement="top" tooltip="Afficher" (click)="openModal(tva, 's')"><i
                    class="fa fa-eye"></i></button>
                  <button class="btn btn-danger" placement="top" tooltip="Désactiver" *ngIf="tva.enable === 1"
                          (click)="openRemoveModal(tva, 'd', i)"><i
                    class="fa fa-lock"></i></button>
                  <button class="btn btn-success" placement="top" tooltip="Activer" *ngIf="tva.enable === 0"
                          (click)="openRemoveModal(tva, 'e', i)"><i
                    class="fa fa-unlock-alt"></i></button>
                  <button class="btn btn-danger" placement="top" tooltip="Supprimer"
                          (click)="openRemoveModal(tva, 'r', i)">
                    <i class="fa fa-remove"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="allTvas?.tvas.length === 0">
                <td colspan="3" class="text-center">Aucun resultat trouvé</td>
              </tr>
              </tbody>
            </table>
            <app-pagination
              [pages]="pages"
              [nombreElements]="allTvas?.nombreTvas"
              [totalElements]="allTvas?.totalTvas"
              [totalPages]="allTvas?.totalPages"
              [currentPage]="currentPage"
              [size]="size"
              [page]="page"
              (search)="searchPage($event)"
              (limit)="searchLimit($event)"
              (first)="firstPage($event)"
              (next)="nextPage($event)"
              (previous)="previousPage($event)"
              (last)="lastPage($event)"
            ></app-pagination>
          </div>

        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
